<!--The content below is only a placeholder and can be replaced.-->
<div  class="content">
    <h1>
        This is {{title}}!
    </h1>
    <span style="display: block">{{ title }} app is running!</span>
    <img width="250" alt="Angular Logo"
        src="https://media.revistagq.com/photos/62a0a996223a33e985e4d59a/3:2/w_1350,h_900,c_limit/1072434_110615-cc-Darth-Vader-Thumb.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=C8ZvsFCxxCU">Dancing Darth vader</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://es.wikipedia.org/wiki/Darth_Vader">Wikipedia Darth vader</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=QYMETt578MM">Theme Darth vader</a></h2>
    </li>
</ul>
<div class="space"></div>
<app-footer></app-footer>